* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: hsl(0, 0%, 100%);
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #F2EAE2;
}

a {
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 28px 16px;
}

@media screen and (width > 768px) {
  .main {
    flex-direction: row;
  }
}

.card {
  background-color: white;
  padding: 24px;
  border-radius: 0 0 10px 10px;
}

@media screen and (width > 768px) {
  .card {
    border-radius: 0 10px 10px 0;
    width: 300px;
  }
}

.product-image {
  width: 358px;
  height: 255px;
  border-radius: 10px 10px 0 0;

}

@media screen and (width > 768px) {
  .product-image {
    width: 300px;
    height: 450px;
    border-radius: 10px 0 0 10px;
  }
}

.subtitle {
  color: #6C7289;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 5px;
  margin-bottom: 12px;;
}



.title {
  color: #1C232B;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  font-family: 'Fraunces', sans-serif;
  margin-bottom: 16px;
}

.text {
  color: #6C7289;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  margin-bottom: 24px;
}

@media screen and (width > 768px) {
  .text {
    margin-bottom: 29px;
  }
}

.price {
  display: flex;
  align-items: center;
  gap: 19px;
  margin-bottom: 20px;
}

.price-discount {
  font-family: 'Fraunces', sans-serif;
  color: #3D8168;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
}

.price-original {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  color: #6C7289;
  font-weight: 500;
  font-size: 13px;
}

.price-original::after {
  content: "";
  position: absolute;
  width: 45px;
  height: 1px;
  background-color: #6C7289;
  bottom: 8px;
  right: 0;
}

.cta {
  text-align: center;
  background-color: #3D8168;
  border-radius: 8px;
  padding: 15px;
}

@media (hover: hover) {
  .cta:hover {
    background-color: #1A4032;
  }
}

a {
  color: white;
  font-weight: 700;
  font-size: 14px;
}

.icon {
  position: relative;
  right: 5px;
  top: 1px;
}